OPENAUTHING_CONFIG_FILE=./config.example.json
OPENAUTHING_APP_NAME=openauthing
OPENAUTHING_ENV=development
OPENAUTHING_HTTP_ADDR=:8080
OPENAUTHING_HTTP_ALLOWED_ORIGINS=http://localhost:5173
OPENAUTHING_POSTGRES_DSN=postgres://openauthing@localhost:5432/openauthing?sslmode=disable
OPENAUTHING_REDIS_ADDR=localhost:6379
OPENAUTHING_LOG_LEVEL=info
OPENAUTHING_SESSION_SECRET=change-me-in-local-dev-only
